<%- include("partials/header1"); -%>

<div class="testbox">
  <form action="/complaints" method="post">
    <h1>Workplace Complaint Form</h1>

    <div class="item">
      <p>Your name</p>
      <div>
        <input type="text" name="FirstName" placeholder="First Name" />
        <input type="text" name="LastName" placeholder="Last Name" />
      </div>
    </div>

    <div class="item">
      <p>Your email</p>
      <input type="text" name="Email" />
    </div>

    <div class="item">
      <p>Date of Complaint</p>
      <input type="date" name="Date" required />
      <i class="fas fa-calendar-alt"></i>
    </div>

    <div class="item">
      <p>City Name</p>
      <input type="text" name="CityName" />
    </div>

    <div class="item">
      <p>Phone Number</p>
      <input type="number" name="Phone" />
    </div>

    <div class="item">
      <p>The Person(s) involved in this complaint are:</p>
      <textarea rows="5" name="PersonInvolved"></textarea>
    </div>

    <div class="item">
      <p>
        Note: Write all relevant dates, places, events, etc. pertaining to the
        complaint:
      </p>
      <textarea rows="5" name="Relevent_Information"></textarea>
    </div>

    <div class="item">
      <p>Signature:</p>
      <textarea rows="5" name="Signature"></textarea>
    </div>

    <div class="btn-block">
      <button type="submit" href="/">Send</button>
    </div>
  </form>
</div>
<style>
  html,
  body {
    min-height: 100%;
  }
  body,
  div,
  form,
  input,
  select,
  p {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 22px;
  }
  h1 {
    margin: 15px 0;
    font-weight: 400;
  }
  .testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 3px;
  }
  form {
    width: 100%;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 5px #ccc;
  }
  input,
  select,
  textarea {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  input:hover,
  select:hover,
  textarea:hover {
    outline: none;
    border: 1px solid #095484;
  }
  input {
    width: calc(100% - 10px);
    padding: 5px;
  }
  select {
    width: 100%;
    padding: 7px 0;
    background: transparent;
  }
  textarea {
    width: calc(100% - 6px);
  }
  .item {
    position: relative;
    margin: 10px 0;
  }
  input[type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  .item i,
  input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    font-size: 20px;
    color: #a9a9a9;
  }
  .item i {
    right: 2%;
    top: 30px;
    z-index: 1;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    right: 1%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
  }
  .btn-block {
    margin-top: 20px;
    text-align: center;
  }
  button {
    width: 150px;
    padding: 10px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #095484;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
  }
  button:hover {
    background-color: #0666a3;
  }
</style>

<%- include("partials/footer"); -%>
