<%- include("partials/header1"); -%>

<div class="container">
  <img
    class="img1"
    class="homeimg"
    src="https://i.ibb.co/kDNHCCJ/Sky-Blue-Clouds-and-Paper-Plane-Farewell-Card-1.png"
    alt=""
  />
  <button class="btn btn-warning btn-lg rounded-pill buttin" type="button">
    <a style="color: white" href="/complaints">Complain Now</a>
  </button>
</div>

<!-- <button class="arrow hidden">Top</button> -->
<a id="button"></a>

<div>
  <img
    class="img2"
    class="homeimg"
    src="https://i.ibb.co/MfVX5y4/Sky-Blue-Clouds-and-Paper-Plane-Farewell-Card-3-1.png"
    alt="Support"
  />
</div>

<div>
  <img
    class="img3"
    src="https://i.ibb.co/cLhGLW4/74458-Voice-of-customer-powerpoint-template.jpg"
    alt=""
  />

  <div class="demo">
    <ul id="lightSlider">
      <li
        data-thumb="https://i.ibb.co/cwbXK6f/Sky-Blue-Clouds-and-Paper-Plane-Farewell-Card-2.png"
      >
        <img
          class="carousal"
          src="https://i.ibb.co/cwbXK6f/Sky-Blue-Clouds-and-Paper-Plane-Farewell-Card-2.png"
        />
      </li>
      <li
        class="carousal"
        data-thumb="https://i.ibb.co/VMPTt8K/Sky-Blue-Clouds-and-Paper-Plane-Farewell-Card-3.png"
      >
        <img
          src="https://i.ibb.co/VMPTt8K/Sky-Blue-Clouds-and-Paper-Plane-Farewell-Card-3.png"
        />
      </li>
      <li
        class="carousal"
        data-thumb="https://i.ibb.co/GPcyP3V/Sky-Blue-Clouds-and-Paper-Plane-Farewell-Card-1.png"
      >
        <img
          src="https://i.ibb.co/GPcyP3V/Sky-Blue-Clouds-and-Paper-Plane-Farewell-Card-1.png"
        />
      </li>
    </ul>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#lightSlider").lightSlider({
      gallery: false,
      item: 3,
      loop: true,
      slideMargin: 3,
      thumbItem: 3,
      enableDrag: false,
      //height
    });
  });
</script>

<link
  rel="stylesheet"
  href="https://sachinchoolur.github.io/lightslider/dist/css/lightslider.css"
/>
<script src="https://sachinchoolur.github.io/lightslider/dist/js/lightslider.js"></script>

<script>
  var btn = $("#button");

  $(window).scroll(function () {
    if ($(window).scrollTop() > 300) {
      btn.addClass("show");
    } else {
      btn.removeClass("show");
    }
  });

  btn.on("click", function (e) {
    e.preventDefault();
    $("html, body").animate({ scrollTop: 0 }, "300");
  });
</script>

<%- include("partials/footer"); -%>
