<%- include("partials/header1"); -%>

<div class="container">
  <img
    class="img1"
    class="homeimg"
    src="https://i.ibb.co/kDNHCCJ/Sky-Blue-Clouds-and-Paper-Plane-Farewell-Card-1.png"
    alt=""
  />
  <button class="btn btn-warning btn-lg rounded-pill buttin" type="button">
    <a style="color: white" href="/complaints">Complain Now</a>
  </button>
  <!-- <div class="button">
    <button class="btn btn-warning btn-lg rounded-pill" type="button">
      <a style="color: white" href="/complaints">Complaint Now</a>
    </button>
  </div> -->
</div>

<div class="nightmode">
  <input type="checkbox" class="checkbox" id="checkbox" />
  <label for="checkbox" class="label">
    <i class="fas fa-moon"></i>
    <i class="fas fa-sun"></i>
    <div class="ball"></div>
  </label>
</div>
<div>
  <img
    class="img2"
    class="homeimg"
    src="https://i.ibb.co/MfVX5y4/Sky-Blue-Clouds-and-Paper-Plane-Farewell-Card-3-1.png"
    alt="Support"
  />
</div>

<div>
  <img
    class="img3"
    src="https://i.ibb.co/cLhGLW4/74458-Voice-of-customer-powerpoint-template.jpg"
    alt=""
  />

  <div class="container text-center my-3 slideshow">
    <div class="row mx-auto my-auto justify-content-center">
      <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <div class="col-md-3">
              <div class="card">
                <div class="card-img">
                  <img
                    src="https://i.ibb.co/GPcyP3V/Sky-Blue-Clouds-and-Paper-Plane-Farewell-Card-1.png"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-3">
              <div class="card">
                <div class="card-img">
                  <img
                    src="https://i.ibb.co/cwbXK6f/Sky-Blue-Clouds-and-Paper-Plane-Farewell-Card-2.png"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-3">
              <div class="card">
                <div class="card-img">
                  <img
                    src="https://i.ibb.co/VMPTt8K/Sky-Blue-Clouds-and-Paper-Plane-Farewell-Card-3.png"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-3">
              <div class="card">
                <div class="card-img">
                  <img
                    src="https://i.ibb.co/GPcyP3V/Sky-Blue-Clouds-and-Paper-Plane-Farewell-Card-1.png"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-3">
              <div class="card">
                <div class="card-img">
                  <img
                    src="https://i.ibb.co/cwbXK6f/Sky-Blue-Clouds-and-Paper-Plane-Farewell-Card-2.png"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-3">
              <div class="card">
                <div class="card-img">
                  <img
                    src="https://i.ibb.co/VMPTt8K/Sky-Blue-Clouds-and-Paper-Plane-Farewell-Card-3.png"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <a
          class="carousel-control-prev bg-opacity-10 bg-black w-25"
          href="#recipeCarousel"
          role="button"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a
          class="carousel-control-next bg-opacity-10 bg-black w-aut"
          href="#recipeCarousel"
          role="button"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>
</div>
<script>
  let items = document.querySelectorAll(".carousel .carousel-item");

  items.forEach((el) => {
    const minPerSlide = 2;
    let next = el.nextElementSibling;
    for (var i = 0; i <= minPerSlide; i++) {
      if (!next) {
        // wrap carousel by using first child
        next = items[0];
      }
      let cloneChild = next.cloneNode(true);
      el.appendChild(cloneChild.children[0]);
      next = next.nextElementSibling;
    }
  });

  const checkbox = document.getElementById("checkbox");

  checkbox.addEventListener("change", () => {
    document.body.classList.toggle("dark");
  });
</script>
<%- include("partials/footer"); -%>
