<%- include("partials/header1"); -%>

<div class="container">
  <img
    class="img1"
    class="homeimg"
    src="https://i.ibb.co/kDNHCCJ/Sky-Blue-Clouds-and-Paper-Plane-Farewell-Card-1.png"
    alt=""
  />
  <button class="btn btn-warning btn-lg rounded-pill buttin" type="button">
    <a style="color: white" href="/complaints">Complain Now</a>
  </button>
</div>

<!-- <button class="arrow hidden">Top</button> -->
<a id="button"></a>

<!-- <div>
  <img
    class="img2"
    class="homeimg"
    src="https://i.ibb.co/MfVX5y4/Sky-Blue-Clouds-and-Paper-Plane-Farewell-Card-3-1.png"
    alt="Support"
  />
</div> -->

<div class="services">
  <h1>Our Services</h1>
  <p>
    We offer the greatest services to our clients. We are available to assist
    you anytime you require it. We are always available to assist you. We are
    here to help you.
  </p>
  <br />
</div>

<div class="fd-row">
  <div class="feedback1">
    <img
      class="feedback-imgs"
      src="https://i.ibb.co/zV8R7Dn/agreement.png"
      alt=""
    />
    <h2>Awesome Support</h2>
    <br />
    <p>
      Your issue is our first priority, and we will do all we can to resolve it.
      We will do everything necessary to resolve your concern as quickly as
      possible.
    </p>
  </div>

  <div class="feedback2">
    <img
      class="feedback-imgs"
      src="https://i.ibb.co/x5rspH3/document.png"
      alt=""
    />
    <h2>Easy comlaint form</h2>
    <br />
    <p>
      You can complete our extremely simple complaint form in about two minutes.
      You may include pictures and videos to your complaint as well.
    </p>
  </div>

  <div class="feedback3">
    <img
      class="feedback-imgs"
      src="https://i.ibb.co/LkRRPnh/save-time.png"
      alt=""
    />
    <h2>Immediate response</h2>
    <br />
    <p>
      With more than 50 workers, as soon as we can, we will address your
      complaint and work to find a quick solution.
    </p>
  </div>
</div>

<div>
  <img
    class="img3"
    src="https://i.ibb.co/cLhGLW4/74458-Voice-of-customer-powerpoint-template.jpg"
    alt=""
  />

  <div class="demo">
    <ul id="lightSlider">
      <li
        data-thumb="https://i.ibb.co/cwbXK6f/Sky-Blue-Clouds-and-Paper-Plane-Farewell-Card-2.png"
      >
        <img
          class="carousal"
          src="https://i.ibb.co/cwbXK6f/Sky-Blue-Clouds-and-Paper-Plane-Farewell-Card-2.png"
        />
      </li>
      <li
        class="carousal"
        data-thumb="https://i.ibb.co/VMPTt8K/Sky-Blue-Clouds-and-Paper-Plane-Farewell-Card-3.png"
      >
        <img
          src="https://i.ibb.co/VMPTt8K/Sky-Blue-Clouds-and-Paper-Plane-Farewell-Card-3.png"
        />
      </li>
      <li
        class="carousal"
        data-thumb="https://i.ibb.co/GPcyP3V/Sky-Blue-Clouds-and-Paper-Plane-Farewell-Card-1.png"
      >
        <img
          src="https://i.ibb.co/GPcyP3V/Sky-Blue-Clouds-and-Paper-Plane-Farewell-Card-1.png"
        />
      </li>
    </ul>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#lightSlider").lightSlider({
      gallery: false,
      item: 3,
      loop: true,
      slideMargin: 3,
      thumbItem: 3,
      enableDrag: false,
      //height
    });
  });
</script>

<link
  rel="stylesheet"
  href="https://sachinchoolur.github.io/lightslider/dist/css/lightslider.css"
/>
<script src="https://sachinchoolur.github.io/lightslider/dist/js/lightslider.js"></script>

<script>
  var btn = $("#button");

  $(window).scroll(function () {
    if ($(window).scrollTop() > 300) {
      btn.addClass("show");
    } else {
      btn.removeClass("show");
    }
  });

  btn.on("click", function (e) {
    e.preventDefault();
    $("html, body").animate({ scrollTop: 0 }, "300");
  });
</script>

<%- include("partials/footer"); -%>
