<!-- header import -->
<%- include("partials/headerLogin"); -%>

<html>
  <style>
    #text {
      display: none;
      color: red;
    }
  </style>
  <body>
    <div class="nightmode">
      <input type="checkbox" class="checkbox" id="checkbox" />
      <label for="checkbox" class="label">
        <i class="fas fa-moon"></i>
        <i class="fas fa-sun"></i>
        <div class="ball"></div>
      </label>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">
          <div class="col-lg-12 login-key">
            <i class="fa fa-key" aria-hidden="true"></i>
          </div>
          <div class="col-lg-12 login-title">ADMIN PANEL</div>

          <div class="col-lg-12 login-form">
            <div class="col-lg-12 login-form">
              <form action="/login" method="post" class="logindark">
                <div class="form-group">
                  <label class="form-control-label">USERNAME</label>
                  <input type="text" name="username" class="form-control" />
                </div>
                <div class="form-group">
                  <label class="form-control-label">PASSWORD</label>
                  <input
                    type="password"
                    name="password"
                    class="form-control"
                    id="mypassword"
                    i
                  />
                  <p id="text">Warning! Caps Lock is ON</p>
                </div>

                <div class="col-lg-12 loginbttm">
                  <div class="col-lg-6 login-btm login-text">
                    <!-- Error Message -->
                  </div>
                  <div class="col-lg-6 login-btm login-button">
                    <button type="submit" class="btn btn-outline-primary">
                      LOGIN
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-3 col-md-2"></div>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  const checkbox = document.getElementById("checkbox");

  checkbox.addEventListener("change", () => {
    document.body.classList.toggle("dark");
    //login-box dark
    document.querySelector(".login-box").classList.toggle("dark");
    //login-key dark
    document.querySelector(".login-key").classList.toggle("dark");
    //login-title dark
    document.querySelector(".login-title").classList.toggle("dark");
    //login-form dark
    document.querySelector(".login-form").classList.toggle("dark");
    //input dark
    document.querySelector("input").classList.toggle("dark");
    //logindark
    document.querySelector(".logindark").classList.toggle("dark");

    //Caps Lock On
    var input = document.getElementById("mypassword");
    var text = document.getElementById("text");
    input.addEventListener("keydown", function (event) {
      if (event.getModifierState("CapsLock")) {
        console.log("Caps Lock is ON");
        text.style.display = "block";
      } else {
        console.log("Caps Lock is OFF");
        text.style.display = "none";
      }
    });
  });
</script>

<!-- footer import -->
<!-- <%- include("partials/footer"); -%> -->
