html {
  min-height: 100%;
  position: relative;
}

.testbox {
  position: relative;
  width: 900px;
  margin: 0 0 0 400px;
  height: auto;
}
table tr:hover {
  background-color: rgb(137, 201, 192);
  overflow: visible;
  white-space: normal;
  height: auto;
}
table td,
table th {
  height: 50px;
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  word-break: keep-all;
  word-wrap: break-word;
  white-space: nowrap;
  border: 1px solid #c8c8c8;
  text-align: left;
  padding: 10px;
}

tr > td:hover {
  overflow: visible;
  white-space: unset;
}
.idd {
  max-width: 60px;
}
.names {
  max-width: 28px;
}

.long {
  max-width: 40px;
}
.delete {
  max-width: 20px;
}
.table-striped {
  /* set size of table */
  width: 1350px;
  margin-left: -20px;
}
.sigma {
  max-width: 30px;
}
.broken {
  -ms-word-break: break-all; /* Be VERY careful with this, breaks normal words wh_erever */
  word-break: break-all; /* Non standard for webkit */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  max-width: 20px;
}

@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}


.container {
  position: relative;
}

.btn-warning {
  border-radius: 40px;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
/* .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  } */
.navbar-nav li a:hover {
  color: #1abc9c !important;
}

.footer-padding {
  padding-bottom: 60px;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #1abc9c;
}

.footer p {
  margin-top: 25px;
  font-size: 12px;
  color: #fff;
}

.nightmode {
  position: absolute;
  top: 0.4%;
  left: 66%;
  padding: 12px 24px;
}

body.dark {
  background-color: #292c35;
  color: #fff;
}

body.dark th,
body.dark td,
body.dark tr,
body.dark thead,
body.dark tbody {
  background-color: #292c35;
  color: #fff;
}

.nighty.dark {
  background-color: #292c35;
  color: #fff;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 50px;
  height: 26px;
  background-color: #111;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: pink;
}

.fa-sun {
  color: yellow;
}

