html,
body {
  min-height: 100%;
}
/* body, */
/* div, */
form,
input,
select,
p {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  
}
h1 {
  margin: 15px 0;
  font-weight: 400;
}
.testbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  padding: 3px;
}
form {
  width: 100%;
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 5px #ccc;
}
input,
select,
textarea {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
input:hover,
select:hover,
textarea:hover {
  outline: none;
  border: 1px solid #095484;
}
input {
  width: calc(100% - 10px);
  padding: 5px;
}
select {
  width: 100%;
  padding: 7px 0;
  background: transparent;
}
textarea {
  width: calc(100% - 6px);
}
.item {
  position: relative;
  margin: 10px 0;
}
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
.item i,
input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  font-size: 20px;
  color: #a9a9a9;
}
.item i {
  right: 1%;
  top: 30px;
  z-index: 1;
}
#calender-icon {
  cursor: context-menu;
  padding-right: 10px;
  margin-right: 0px;

}

[type="date"]::-webkit-calendar-picker-indicator {
  right: 1%;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}
.btn-block {
  margin-top: 20px;
  text-align: center;
}
button {
  width: 150px;
  padding: 10px;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #095484;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
button:hover {
  background-color: #0666a3;
}

html {
  min-height: 100%;
  position: relative;
}

.testbox {
  position: relative;
  width: 900px;
  margin: 0 0 0 400px;
  height: auto;
}

@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
/* .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  } */
.navbar-nav li a:hover {
  color: #1abc9c !important;
}

.text-muted {
  margin-top: 0px;
  text-align: center;
}
.nightmode {
  position: absolute;
  top: 0.4%;
  left: 66%;
  padding: 12px 24px;
}
/* Night Mode FORM */
.formingn.dark {
  background: #1a1a1a;
  color: #fff;
}
.formingn {
  margin-top: 80px;
}



.formingn.dark input,
.formingn.dark select,
.formingn.dark textarea {
  background: #2a2a2a;
  border: 1px solid #2a2a2a;
  color: #fff;
}

body.dark {
  background-color: #292c35;
}
input.dark {
  background-color: #292c35;
  color: #fff;
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 50px;
  height: 26px;
  background-color: #111;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 22px;
  height: 22px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: pink;
}

.fa-sun {
  color: yellow;
}

/* !FOOTER */
footer {
  background: #343a40;
  padding: 50px;
  height: 275px;
  margin-top: 70px;
}
footer a {
  color: #f8f9fa !important;
}
