html {
  min-height: 100%;
  position: relative;
}

.img1 {
  width: 100%;
  height: 750px;
  object-fit: fill;
  margin-top: 80px;
  border-radius: 15px;
  /* overflow: hidden; */
  /* background-size: 100%; */
}
/* !Services */
.services {
  margin-top: 100px;
  text-align: center;
}
.services h1 {
  color: #031280;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}
.services p {
  color: #031280;

  font-size: 20px;
  font-weight: 500;
  max-width: 750px;
  margin: 0 auto;
}
/* !Feedback Divs under the top image */
.fd-row {
  display: grid;
  padding: 30px;
  margin-left: 150px;
  margin-right: 12px;
  grid-template-columns: auto auto auto;
  margin-bottom: 150px;
}
.fd-row p {
  font-size: 20px;
  font-weight: medium;
  margin-bottom: 20px;
  font-weight: 400;
}

.fd-row h3 {
  /* center the font */
  text-align: center;
}

.fd-row > div {
  text-align: center;
}

.feedback1 {
  font-family: "Alegreya Sans", sans-serif;
  height: 350px;

  color: #031280;

  width: 350px;
}
.feedback2 {
  font-family: "Alegreya Sans", sans-serif;
  color: #031280;

  height: 350px;
  width: 350px;
}
.feedback3 {
  font-family: "Alegreya Sans", sans-serif;
  color: #031280;

  height: 350px;
  width: 350px;
}

.feedback-imgs {
  width: 60%;
  height: 60%;
  object-fit: fill;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 15px;
  border-color: white;
  overflow: hidden;
  background-size: 100%;
  margin-bottom: 30px;
}

/* !-----ENDDD
*Feedback Divs under the top image */

.img3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.carousalimgg {
  width: 70%;
  height: 70%;
  object-fit: fill;
  margin-left: 65px;
}

.slide {
  position: absolute;
  width: 900px;
  margin: 0 0 0 580px;
  bottom: 180px;
}

.card-img {
  width: 200px;
}

.testbox {
  position: relative;
  width: 900px;
  margin: 0 0 0 400px;
  height: auto;
}

@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}

.buttin {
  /*  position: relative;
  top: 70%;
  left: 27%;
  transform: translate(-50%, -50%); */
  position: absolute;
  top: 60%;
  left: 26%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.container {
  position: relative;
}

.btn-warning {
  border-radius: 40px;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar-nav li a:hover {
  color: #010b55 !important;
}

/* !FOOTER */
footer {
  background: #343a40;
  padding: 50px;
  height: 275px;
  margin-top: -30px;
}
footer a {
  color: #f8f9fa !important;
}
/* 
!-------ENDDDDD
*FOOTER 
*/

.text-muted {
  margin-top: 0px;
  text-align: center;
}

/* 
! Night mode button
 */

.nightmode {
  position: absolute;
  top: 0.4%;
  left: 66%;
  padding: 12px 24px;
}

/*
!NAvbar Dark
*/

.navi.dark .navbar {
  color: rgb(0, 0, 0);
  background-color: #111;
}

body.dark {
  background-color: #292c35;
  color: #fff;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 50px;
  height: 26px;
  background-color: #111;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 22px;
  height: 22px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: pink;
}

.fa-sun {
  color: yellow;
}

/* back to TOP Button */
.back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}

.hidden {
  display: none;
}
/* 
!--------ENDDDDD 
*Night mode button
*/

/* 
! Arrow to move the button to the top 
*/

#button {
  display: inline-block;
  background-color: #ff9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: bold;
  font-style: large;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

/* 
@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Lato:700);

.arrow {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  margin-top: -29px;
  margin-left: -60px;
  display: inline-block;
  font-size: 26px;
  color: #b3c33a;
  text-align: center;
  width: 120px;
  height: 60px;
  line-height: 60px;
  border: 5px solid #b3c33a;
  overflow: hidden;
  text-transform: uppercase;
  cursor: pointer;
  transition: width 0.5s ease-in-out, margin 0.5s ease-in-out,
    border-radius 0.25s ease-in-out, color 0.25s ease-in-out;
}
.arrow:hover,
.arrow.auto {
  width: 60px;
  margin-left: -30px;
  border-radius: 40px;
  color: rgba(179, 195, 58, 0);
  transition: width 0.5s ease-in-out, margin 0.5s ease-in-out,
    border-radius 1s 0.25 ease-in-out, color 0.25s ease-in-out 0.25s;
}
.arrow:hover:before,
.arrow.auto:before {
  animation: lineUp 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}
.arrow:hover:after,
.arrow.auto:after {
  animation: tipUp 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}
.arrow:before {
  position: absolute;
  display: inline-block;
  content: "";
  background: #b3c33a;
  width: 5px;
  height: 40px;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -3px;
  transform: translateY(50px);
}
.arrow:after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  color: #b3c33a;
  border-top: 5px solid;
  border-left: 5px solid;
  transform: rotateZ(45deg);
  top: 50%;
  left: 55.2%;
  margin-top: -6px;
  margin-left: -13px;
  transform: translateY(50px) rotateZ(45deg);
}
@keyframes tipUp {
  0% {
    transform: translateY(50px) rotateZ(45deg);
  }
  100% {
    transform: translateY(-70px) rotateZ(45deg);
  }
}
@keyframes lineUp {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(-70px);
  }
} */
/* 
!----ENDDDD
* Arrow to move the button to the top 
*/

.dropdown-toggle::after {
  display: none;
}
.text-decoration-none {
  text-decoration: none !important;
}
/* Font Awesome Icons have variable width. Added fixed width to fix that.*/
.icon-width {
  width: 2rem;
}

/* !LightSlider Image Carousal */

.demo {
  width: 600px;
}
ul {
  list-style: none outside none;
  padding-left: 0;
  margin-bottom: 0;
}
li {
  display: block;
  float: none;
  margin-right: 6px;
  cursor: pointer;
}
img {
  display: block;
  height: 200px;
  width: 200px;
  border: 1px solid #ccc;
  max-width: 100%;
}
.lSPrev {
  background-color: #111;
  border-radius: 30px;
  margin-left: 1px;
}
.lSNext {
  background-color: #111;
  border-radius: 30px;
  margin-right: 1px;
}

.demo {
  position: absolute;
  margin-top: -350px;
  margin-left: 1050px;
}
